<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
<div class="row">
    <div class="column" style="background-color:#aaa;">
      <h2>Useful Links</h2>
        <a href="#">Contact Us</a>&nbsp;&nbsp;
        <a href="#">FAQ</a> &nbsp;&nbsp;
        <a href="#">About Us</a>
    </div>
    <div class="column" style="background-color:#aaa;">
      <h2>Follow us on</h2>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-whatsapp"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>    
  </div>

<!-- The social media icon bar -->
<div class="icon-bar">
  <a href="#" title="Home"><img id="img" src="/assets/img/home.png" /> </a>
  <a href="#" title="Toys"><img id="img" src="/assets/img/toys.png" /> </a>
  <a href="#" title="Books"><img id="img" src="/assets/img/books.png" /> </a>
  <a href="#" title="Reviews"><img id="img" src="/assets/img/reviews.png" /> </a>
  <a href="#" title="My cart"><img id="img" src="/assets/img/cart.png" /> </a>
</div>
</div>

<!--<footer class="footer-container color-scheme-light">
<div class="container main-footer">
<aside class="footer-sidebar widget-area row" role="complementary">
                            <div class="footer-column footer-column-1 col-sm-6">
                    <div id="text-17" class="footer-widget  widget_text"><h2 class="widget-title">Useful Links</h2>	
                        		<div class="textwidget"><ul class="footer-links" style="display: inline-block; list-style-type: none;">
<li><a href="#">Contact Us</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">About Us</a></li>
</ul>
</div>
</div>						</div>
                                                      
 <div class="footer-column footer-column-2 col-sm-6">
   
    <div id="custom_html-2" class="widget_text footer-widget  widget_custom_html">
        <h2 class="widget-title">Follow us on</h2><div class="textwidget custom-html-widget"><a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-instagram"></a>   </div></div></div> 
             <ul class="footer-social-links" style="display: inline-block; list-style-type: none;">
<li><a href="#" class="fa fa-facebook"></a></li>
<li>
    <a href="#" class="fa fa-instagram"></a></li>
</ul></div></div>						</div> 
                                            </aside><!-- .footer-sidebar
                                            
</div>
</footer> -->