<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
<div class="row">
    <div class="column" style="background-color:#aaa;">
      <h2>Useful Links</h2>
        <a href="#">Contact Us</a>&nbsp;&nbsp;
        <a href="#">FAQ</a> &nbsp;&nbsp;
        <a href="#">About Us</a>
    </div>
    <div class="column" style="background-color:#aaa;">
      <h2>Follow us on</h2>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-whatsapp"></a>
      <a href="https://www.instagram.com/little_master_minds/" class="fa fa-instagram"></a>
    </div>    
  </div>

<!-- The social media icon bar -->
<div class="icon-bar">
  <a routerLinkActive="active" routerLink="/home" title="Home"><img id="img" src="/assets/img/home.png" /> </a>
  <a routerLinkActive="active" routerLink="/toys" title="Toys"><img id="img" src="/assets/img/toys.png" /> </a>
  <a routerLinkActive="active" routerLink="/books" title="Books"><img id="img" src="/assets/img/books.png" /> </a>
  <a href="#" title="Reviews"><img id="img" src="/assets/img/reviews.png" /> </a>
  <a routerLinkActive="active" routerLink="/auth" title="Login/Register"><img id="img" src="/assets/img/Login.png" /> </a>
  <a routerLinkActive="active" routerLink="/cart" title="My cart"><img id="img" src="/assets/img/cart.png" /> </a>
</div>
</div>