
   <ul class="nav navbar-nav">
    <li><div class="back-container-heading"><h2>Shop by Age Group</h2></div> </li> 
    <li><div class="back-container"> <a id="img" title="1 - 2" href="#">       
        <img id="img" alt="1 - 2" src="/assets/img/penguin.png" /> 
        <div id="title" class="centered"><b> 1 - 2 </b></div>
        </a></div></li>
        <li><div class="back-container"> <a id="img" title="2 - 3" href="#">
            <img id="img" alt="2 - 3" src="/assets/img/penguin.png" /> 
            <div id="title" class="centered"><b> 2 - 3 </b></div>
        </a></div></li>
        <li><div class="back-container"> <a id="img" title="3-5" href="#">
                <img id="img" alt="3 - 5" src="/assets/img/penguin.png" /> 
                <div id="title" class="centered"><b> 3 - 5 </b></div>
        </a></div></li>
        <li><div class="back-container"> <a id="img" title="5-7" href="#">
                    <img id="img" alt="5 - 7" src="/assets/img/penguin.png"/> 
                    <div id="title" class="centered"><b> 5 - 7 </b></div>
        </a></div></li>
    </ul>