.back-container {
    position: relative;
    margin: 15px;
    text-align: center;
    color: white;
  }
  
  .back-container-heading {
    position: relative;
    margin-top: 30%;
    text-align: center;
    color: navy;
  }
  
.centered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }