.backdrop{
    position: fixed;
    left: 0;
    top: 0;
     height: 100vh;
    width: 100vw; 
    background: rgba(0, 0, 0,0.75);
    z-index: 50;
}

.alert-box{
   position: relative;
    top: 5vh;
    left: 5vw;
     /*width: 80vw; */
    padding: 16px;
    z-index: 100;
    width: 80vw; 
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0,0.26);
}

.alert-box-actions{
    text-align: right;
}

.pull-top{
      align-items: center;
}

.pull-left{
  border-right: 1px solid gray;
}

.center{    
    text-align: center;
    }

.h1{
    font-size: large;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0px;
    width: 100%;
  }
  
  li {
    float: left;
    padding: 2px;
  }
  
  li a {
    display: block;
    color: navy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:rgb(100, 190, 231);;
  }
  
  .active {
    border: 1px solid  rgb(59, 170, 221);
  }

.stock{
  padding: 2px;
  text-align: center;
}

input{
  max-width: 60px !important;
}