<div class="container">
    <div class="empty-cart">
        <h1><b>YOUR CART IS CURRENTLY EMPTY</b></h1>
        <span>Before proceed to checkout you must add some products to your shopping cart.<br>
            You will find a lot of interesting products on our "Home" page.</span>           
    </div>
    <div class="product-cart">
      <div class="row">
        <div class="columnProduct">
          <h2>Product</h2>
        </div>
        <div class="column">
          <h2>Price</h2>
        </div>
        <div class="column">
          <h2>Quantity</h2>
        </div>
        <div class="column">
          <h2>Total</h2>
        </div>
        <div class="columnCancel">
          <h2>    </h2>
        </div>         
      </div>
        <div class="row" *ngFor="let number of [0,1,2,3,4];let i=index">
          <div class="columnProduct">
            <img id="img" height="100px" width="100px" src="/assets/img/EXE.jpg" style="border: 0; float: left; margin-right: 5px" />
            <h3 id="title">Namedcdcsxgvdfbv bvcbgd</h3>
          </div>
          <div class="column">
            <h3>10</h3>
          </div>
          <div class="column">
              <input type="number" id="amount" value="1">
          </div>
          <div class="column">
            <h3>20</h3>
          </div>
          <div class="columnCancel">
            <button class="btn btn-primary btn-sm">X</button>
          </div>

        <!--<div class="list-group-item clearfix">
            <img id="img" height="100px" width="100px" src="/assets/img/EXE.jpg" style="border: 0; float: left; margin-right: 5px" />
            <h4 class="list-group-item">Namedcdcsxgvdfbv bvcbgd</h4>
            <p class="list-group-item">10</p>
            <input class="list-group-item" type="number" id="amount" value="1">
            <p class="list-group-item">20</p>
            <button class="btn btn-primary btn-sm list-group-item">X</button>
             <thead>
              <tr>
                <th scope="col" colspan="2">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
              </tr>
            </thead><br>
            <tbody>
                <tr *ngFor="let number of [0,1,2,3,4];let i=index">
                    <td><img id="img" height="100px" width="100px" src="/assets/img/EXE.jpg" style="border: 0; float: left; margin-right: 5px" /></td>
                    <td><p id="title">Namedcdcsxgvdfbv bvcbgd</p></td>
                    <td>10</td>
                    <td>
                        <input type="number" id="amount" value="1">
                    </td>
                    <td>
                      <h5 class="font-medium m-b-30">20</h5>
                    </td>
                    <td><button class="btn btn-primary btn-sm">X</button></td>
                  </tr>             
            </tbody> 
          </div>-->
    </div>
     <div>
        <a title="Home"  routerLink="/home"><button class="btn btn-success">Return to Home</button></a>
     </div>

     <div class="cartTotal">
       <div class="row">
       <div class="pull-left">
      <h3>Subtotal</h3></div>
      <div class="pull-right">
        <h3>₹1,174.00</h3></div>
      </div>
      <div class="row">
        <div class="pull-left">
       <h3>Shipping</h3></div>
       <div class="pull-right">
        <input type="radio" name="shipping_method[0]" id="standard" checked="checked"><br>
       <label for="standard">Standard ( 4- 8 Working Days within South India)<br> 
         (7 to 15 Working Days to North India)<br>
         : ₹95.00</label><br>
        <input type="radio" name="shipping_method[0]" id="speed"><br>
        <label for="speed">Speed (3-6 Working Days within South India)<br>(5- 8 Working Days to North India)<br> ₹205.00<br>
          Shipping to Tamil Nadu.</label>
       </div>
     </div>
     
</div>