.container{
    border: solid 3px gray;
    margin-top: 20px;
    width: 85%;
}

.empty-cart{
    margin-top:100px;
    text-align: center;
    min-height: 250px;
    color: green;
}

.product-cart{
    text-align: center;
    min-height: 250px;
}

.row{
  border-bottom: solid 1px gray;
  padding: 5px;
  margin: 5px;
}

.columnProduct{
  float: left;
  width: 50%;
  padding: 10px;
}

.column {
  float: left;
  width: 15%;
  padding: 10px;
}

.columnCancel {
  float: left;
  width: 5%;
  padding: 10px;
}

input{
  width: 40px !important;
}

.cartTotal{
  
  width: 50%;
}



/*table {
    border-bottom: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }

  thead{
      text-align: center;
  }

  tbody{
    text-align: center;
  }

   table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  } */